.h1 {
    font-size: 30px;
    font-weight: lighter;
    width: 800px;
    margin: 5px 0px;
    border-radius: 10px;
}
.h1:active,
.h1:focus{
    outline: none;
}

.movie {
    display: inline-block;
    margin: 5px 0;
}
.delete_link {
    display: inline-block;
    margin-left: 20px;
}